
@font-face {
  font-family:'IRANSansX-Light' ;
  src: url(./fonts/IRANSansX-Light.woff) format('woff');
}

*{
  font-family:'IRANSansX-Light';
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layout{
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  padding: 15px 10px;
}

.header{
  border-radius: 3px;
  text-align: center;
  background: navy;
  color: #fff;
  margin-bottom: 20px;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px ;
}

.form div{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 65%;
  border-radius: 3px;
  overflow: hidden;
}

.form div input{
  border: none;
  outline: none;
  background: transparent;
  padding: 6px;
  width: 100%;
}

.form button{
  color: #fff;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: seagreen;
  border-radius: 3px;
}

.cart{
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart div button{
  border: none;
  background: transparent;
  outline: none;
  margin: 0 13px;
  font-size: 18px;
  cursor: pointer;
}

.cart div button:nth-child(1){
  color: seagreen;
}


.cart div button:nth-child(2){
  color: crimson;
}

